
@model List<WithLoginAuth.Models.Course>
@{
    ViewBag.Title = "AddCourse";
}

<h2>Add Course To @ViewBag.std.Name </h2>
@using (@Html.BeginForm())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseName</td>
                    <td>@Html.CheckBox("crs." + item.courseId.ToString())</td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="Add" />
    @Html.ActionLink("Back to List", "Index", "Student", new { @class = "btn btn-primary" })

}